<ion-header>
  <ion-toolbar>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>
  <br>
  <ion-item lines="none"s>
    <ion-label>Heure</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>

<ion-item>
<ion-label> Travling from </ion-label>
<ion-label> {{departure}} to {{destination}} </ion-label>

<ion-button color="dark" fill="outline" shape="round" expand="full" (click)="showAdvncePicker()">select</ion-button>
</ion-item>



</ion-content>
