<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="header">
    <h2>Name User</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">4.5</ion-badge>
      <p><ion-icon name="star-outline"></ion-icon></p>
    </div>
    <div class="followings">
      <ion-badge color="primary" mode="ios">20</ion-badge>
      <p>orders</p>
    </div>
    </div>
  </div>
  <div class="flex">
  <div class="border-blue">
  <div class="border-white">
  <div class="img-box">
    <img src="../../assets/caricature.jpg">
  </div>
  </div>
</div>
</div>
<ion-searchbar show-cancel-button="always"></ion-searchbar>  
</ion-content>
