<ion-header>
  <ion-toolbar>
    <div class="space-between">
      <ion-button   clear routerLink="/tabs" >Back</ion-button>
    <ion-title>search a route</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=padding>
    <br>
    <ion-item lines="none" (click)="showAdvncePicker()">
  
      <ion-label > <ion-icon name="trail-sign-outline"></ion-icon> Travling from </ion-label>
      <ion-label > {{departure}} to {{destination}} </ion-label>
      
      
      </ion-item>
      <br>
      
  <ion-item text-center lines="none">
    <ion-label><ion-icon name="calendar-outline"></ion-icon> Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>
  <br>
  <ion-item lines="none">
    <ion-label><ion-icon name="time-outline"></ion-icon> Hour</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <br>


<br>
<br>
<ion-item  lines="none">
  <ion-label >
<ion-button  shape="round"  routerLink="/tabs" >search</ion-button>
</ion-label>
</ion-item>
</div>

</ion-content>
