<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
  <br>
  <br>
  <br>
  <br>
  <ion-item>
    
    <ion-input color="light" placeholder="First Name"></ion-input>
  </ion-item>

  <ion-item>
    
    <ion-input color="light" placeholder="Name"></ion-input>
  </ion-item>

  <ion-item>
    
    <ion-input color="light"  placeholder="Address"></ion-input>
  </ion-item>
  <ion-item>
    
    <ion-input color="light"  placeholder="Id card number"></ion-input>
  </ion-item>
  <ion-item>
   
    <ion-input color="light" placeholder="Phone number"></ion-input>
  </ion-item>
  <ion-item>
    
    <ion-input color="light" placeholder="E-mail" type="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input color="light" placeholder="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input color="light" placeholder="Confirm password" type="password"></ion-input>
  </ion-item>
  <br>
  
<ion-item lines="none">
  <ion-label text-center color="light">Already have an account ?</ion-label>
</ion-item>
<br>
  <ion-button color="light" fill="outline" shape="round" expand="block" routerLink="/home" >Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

