<ion-content>
  <div class="padding">


    <div class="logo">
      <ion-icon color="light" name="briefcase-outline"></ion-icon>

    </div>
<ion-item>
  <ion-label color="light"> <ion-icon name="people-circle-outline"></ion-icon></ion-label>
  <ion-input color="light" placeholder="E-mail" type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="light"><ion-icon name="key-outline"></ion-icon></ion-label>
  <ion-input color="light" placeholder="*******" type="password"></ion-input>
</ion-item>

<ion-item lines="none">
  <ion-button color="light" fill="clear" slot="end">Forgot your password ?</ion-button>
</ion-item>

<ion-button color="light" fill="outline" shape="round" expand="block" routerLink="/tabs" >Login</ion-button>
<br>
<ion-item lines="none">
  <ion-label text-center color="light">New to JiBliii ?</ion-label>
</ion-item>

<ion-item lines="none">
  <ion-label text-center color="light">haay</ion-label>
</ion-item>

<ion-button shape="round" expand="block" routerLink="/signup" >Sign Up</ion-button>


</div>
</ion-content>